<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto | Bicycleshop</title>
    <link rel="shortcut icon" type="image/icon" href="../Imagenes/Imagen1.jpg">
    <link rel="stylesheet" href="../css/EstilosGenerales.css">
</head>

<body>
    <header>
        <h1>NUESTRA UBICACION</h1>
        <nav class="barralist">
            <a href="../index.html"><img src="../Imagenes/Imagen1.jpg" alt="logo" width="503" height="503"></a>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./productos.html">Productos</a></li>
                <li><a href="./presupuesto.html">Presupuesto</a></li>
                <li><a class="active3" href="./contacto.html">Contacto</a></li>
            </ul>
            <a href="./iniciosesion.html"><img src="../Imagenes/login1.png" alt="login" width="503" height="503"></a>
        </nav>
    </header>
    <main>
        <div class="Ubinformacion">
            <p>
                <b>Bicycleshop S.L.</b> <br>
                <b>NIF:</b> B12345678<br>
                <b>Dirección:</b> Atocha, Arganzuela, 28007 Madrid<br>
                <b>Teléfono de Contacto:</b> +34 65457767<br>
                <b>Email:</b> contactos@gmail.com
            </p>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6076.205005762443!2d-3.691964924173193!3d40.40657997144126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4226244653ea03%3A0xd2eeb9d69003a049!2sAtocha!5e0!3m2!1ses!2ses!4v1754113602749!5m2!1ses!2ses"
                width="900" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </main>
    <footer>
        <p class="Bienvenida">VEN Y VISITANOS, TE ESPERAMOS!</p>
        <div class="RRSS">
            <a target="_blank" href="https://web.whatsapp.com/"><img src="../Imagenes/Whatsapp.png" alt="Whatsapp" width="509" height="512"></a>
            <a target="_blank" href="https://www.facebook.com/?locale=es_ES"><img src="../Imagenes/Facebook.png" alt="Facebook" width="512" height="512"></a>
            <a target="_blank" href="https://www.instagram.com/"><img src="../Imagenes/Instagram.png" alt="Instagram" width="512" height="512"></a>
            <a target="_blank" href="https://x.com/?lang=es"><img src="../Imagenes/twitter.png" alt="twitter" width="512" height="512"></a>
            <a target="_blank" href="https://www.tiktok.com/es/"><img src="../Imagenes/Tiktok.png" alt="Tiktok" width="452" height="512"></a>
        </div>
        <hr>
        <cite>Creado por Miguel Arevalo / Todos los derechos reservado</cite>
        <hr>
    </footer>
</body>
</html>
