<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/EstilosGenerales.css">
    <title>Productos | La Mejor Calidad y Marcas</title>
    <link rel="shortcut icon" type="image/icon" href="../Imagenes/Imagen1.jpg">
</head>
<body>
    <header>
        <h1>¿QUE TIPO DE RESPUESTOS ESTAS BUSCANDO?</h1>
        <nav class="barralist">
            <a href="../index.html"><img src="../Imagenes/Imagen1.jpg" alt="logo" width="503" height="503"></a>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a class="active1" href="./productos.html">Productos</a></li>
                <li><a href="./presupuesto.html">Presupuestos</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
            <a href="./iniciosesion.html"><img src="../Imagenes/login1.png" alt="login" width="503" height="503"></a>
        </nav>
    </header>
    <main>
        <section>
            <h2>⬇️BicicleShop te ofrece lo mejor⬇️</h2><hr>
            <div class="Seleccionimg">
                <div class="RBici">
                    <img src="../Imagenes/Bicicletas.jpg" alt="Bici" width="4381" height="5652"><br>
                    <a target="_blank" href="./respuestosbici.html"><b>Repuestos y Accesorios de Bicicletas</b></a>
                </div>
                <div class="Mtto">
                    <img src="../Imagenes/Mantenimiento.jpg" alt="Mtto" width="3648" height="5472"><br>
                    <a target="_blank" href="#"><b>Todo tipo de Mantenimiento General</b></a>
                </div>
                <div class="RMoto">
                    <img src="../Imagenes/Motocicleta.jpg" alt="Moto" width="5304" height="7952"><br>
                    <a target="_blank" href="./respuestosmoto.html"><b>Repuestos y Accesorios de Motocicletas</b></a>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p class="descuento">Por tu primera compra tendras 10% Descuento en todos nuestros productos ¡No te lo pierdas!</p>
        <div class="info">
            <p>Telefono de Contacto:<br> +34 65457767</p> 
            <p>Email:<br> infopedido@gmail.com</p>
            <p>Dirección:<br>Madrid, España</p>
        </div>
        <div class="RRSS">
            <a target="_blank" href="https://web.whatsapp.com/"><img src="../Imagenes/Whatsapp.png" alt="Whatsapp" width="509" height="512"></a>
            <a target="_blank" href="https://www.facebook.com/?locale=es_ES"><img src="../Imagenes/Facebook.png" alt="Facebook" width="512" height="512"></a>
            <a target="_blank" href="https://www.instagram.com/"><img src="../Imagenes/Instagram.png" alt="Instagram" width="512" height="512"></a>
            <a target="_blank" href="https://x.com/?lang=es"><img src="../Imagenes/twitter.png" alt="twitter" width="512" height="512"></a>
            <a target="_blank" href="https://www.tiktok.com/es/"><img src="../Imagenes/Tiktok.png" alt="Tiktok" width="452" height="512"></a>
        </div>
        <hr>
            <cite>Creado por Miguel Arevalo / Todos los derechos reservado</cite>
        <hr>
    </footer>
</body>
</html>