<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/EstilosGenerales.css">
    <title>Respuestos de Bicicletas | Bicycleshop</title>
    <link rel="shortcut icon" type="image/icon" href="../Imagenes/Imagen1.jpg">
</head>
<body>
    <header>
        <h1>REPUESTOS DE BICICLETAS</h1>
        <nav class="barralist">
            <a href="../index.html"><img src="../Imagenes/Imagen1.jpg" alt="logo" width="503" height="503"></a>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./productos.html">Productos</a></li>
                <li><a href="./presupuesto.html">Presupuestos</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
            <a href="./iniciosesion.html"><img src="../Imagenes/login1.png" alt="login" width="503" height="503"></a>
        </nav>
    </header>
    <main>
        <section>
            <h2>⬇️Tenemos lo que buscas con la mejor calidad y los mejores precios⬇️</h2><hr>
            <Table>
                <tbody>
                    <tr class="Productos1">
                        <td class="P1"><img src="../Imagenes/RepuestosdeBici/Platoybiela.jpg" alt="Platobiela" width="320" height="234"><br><a><b>Kit de Plato y Biela</b></a></td>
                        <td class="P2"><img src="../Imagenes/RepuestosdeBici/puños.jpg" alt="puños" width="2560" height="1707"><br><a><b>Manillares / Puños</b></a></td>
                        <td class="P3"><img src="../Imagenes/RepuestosdeBici/RinesBici.jpg" alt="rines" width="1600" height="1600"><br><a><b>Rines de Bicicletas</b></a></td>
                        <td class="P4"><img src="../Imagenes/RepuestosdeBici/Sillin.jpg" alt="sillin" width="260" height="260"><br><a><b>Sillin Ergonomico</b></a></td>
                        <td class="P5"><img src="../Imagenes/RepuestosdeBici/Sillin2.jpg" alt="sillin2" width="320" height="319"><br><a><b>Silla Ergonomica C/Resortes</b></a></td>
                    </tr>
                    <tr class="Productos2">
                        <td class="P6"><img src="../Imagenes/RepuestosdeBici/CadenasBici.jpg" alt="cadena" width="1601" height="1601"><br><a><b>Cadenas</b></a></td>
                        <td class="P7"><img src="../Imagenes/RepuestosdeBici/CascoBici.jpg" alt="casco" width="1600" height="1600"><br><a><b>Casco Resistente Homologado</b></a></td>
                        <td class="P8"><img src="../Imagenes/RepuestosdeBici/Caucho.jpg" alt="cauchos" width="270" height="270"><br><a><b>Cauchos / Cubiertas</b></a></td>
                        <td class="P9"><img src="../Imagenes/RepuestosdeBici/Gafasdeciclismo.jpg" alt="lentes" width="800" height="800"><br><a><b>Gafas de Ciclismo</b></a></td>
                        <td class="P10"><img src="../Imagenes/RepuestosdeBici/Kit.jpg" alt="set" width="1500" height="1500"><br><a><b>Kit de Reparación</b></a></td>
                    </tr>
                    <tr class="Productos3">
                        <td class="P11"><img src="../Imagenes/RepuestosdeBici/LubricantesBici.jpg" alt="lubricante" width="1601" height="1601"><br><a><b>Lubricantes de Cadena</b></a></td>
                        <td class="P12"><img src="../Imagenes/RepuestosdeBici/Lucesdelanteras.jpg" alt="lucesd" width="260" height="260"><br><a><b>Luz Delantera</b></a></td>
                        <td class="P13"><img src="../Imagenes/RepuestosdeBici/Lucestraseras.jpg" alt="lucest" width="1530" height="1503"><br><a><b>Luz Trasera</b></a></td>
                        <td class="P14"><img src="../Imagenes/RepuestosdeBici/Manillas.jpg" alt="manillas" width="900" height="675"><br><a><b>Manillas Integradas</b></a></td>
                        <td class="P15"><img src="../Imagenes/RepuestosdeBici/Piñon.jpg" alt="piñon" width="400" height="400"><br><a><b>Piñones</b></a></td>
                    </tr>
                </tbody>
            </Table>
        </section>
    </main>
    <footer>
        <p class="descuento">REGISTRATE Y OBTENDRAS DESCUENTAZOS QUE NO PUEDES PERDER</p>
        <div class="info">
            <p>Telefono de Contacto:<br> +34 65457767</p> 
            <p>Email:<br> infopedido@gmail.com</p>
            <p>Dirección:<br>Madrid, España</p>
        </div>
        <div class="RRSS">
            <a target="_blank" href="https://web.whatsapp.com/"><img src="../Imagenes/Whatsapp.png" alt="Whatsapp" width="509" height="512"></a>
            <a target="_blank" href="https://www.facebook.com/?locale=es_ES"><img src="../Imagenes/Facebook.png" alt="Facebook" width="512" height="512"></a>
            <a target="_blank" href="https://www.instagram.com/"><img src="../Imagenes/Instagram.png" alt="Instagram" width="512" height="512"></a>
            <a target="_blank" href="https://x.com/?lang=es"><img src="../Imagenes/twitter.png" alt="twitter" width="512" height="512"></a>
            <a target="_blank" href="https://www.tiktok.com/es/"><img src="../Imagenes/Tiktok.png" alt="Tiktok" width="452" height="512"></a>
        </div>
        <hr>
            <cite>Creado por Miguel Arevalo / Todos los derechos reservado</cite>
        <hr>
    </footer>
</body>
</html>