<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/EstilosGenerales.css">
    <title>Respuestos de Motocicletas | Bicycleshop</title>
    <link rel="shortcut icon" type="image/icon" href="../Imagenes/Imagen1.jpg">
</head>
<body>
    <header>
        <h1>REPUESTOS DE MOTOCICLETAS</h1>
        <nav class="barralist">
            <a href="../index.html"><img src="../Imagenes/Imagen1.jpg" alt="logo" width="503" height="503"></a>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./productos.html">Productos</a></li>
                <li><a href="./presupuesto.html">Presupuestos</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
            <a href="./iniciosesion.html"><img src="../Imagenes/login1.png" alt="login" width="503" height="503"></a>
        </nav>
    </header>
    <main>
        <section>
            <h2>⬇️Tenemos lo que buscas con la mejor calidad y los mejores precios⬇️</h2><hr>
            <Table>
                <tbody>
                    <tr class="Productos1">
                        <td class="P1"><img src="../Imagenes/RepuestosdeMotocicleta/AsientosMoto.jpg" alt="Asientos" width="604" height="270"><br><a><b>Asientos de Moto</b></a></td>
                        <td class="P2"><img src="../Imagenes/RepuestosdeMotocicleta/cadenamoto.jpg" alt="Cadenas" width="1920" height="1920"><br><a><b>Cadenas</b></a></td>
                        <td class="P3"><img src="../Imagenes/RepuestosdeMotocicleta/Casco.jpg" alt="Cascos Homologados" width="1600" height="1600"><br><a><b>Cascos Resistentes Homologados</b></a></td>
                        <td class="P4"><img src="../Imagenes/RepuestosdeMotocicleta/GrasaCadena.jpg" alt="Grasa" width="800" height="800"><br><a><b>Grasa P/ Cadenas</b></a></td>
                        <td class="P5"><img src="../Imagenes/RepuestosdeMotocicleta/Guantes.jpg" alt="Guantes" width="381" height="492"><br><a><b>Guantes S/ Estampados Recubiertos</b></a></td>
                    </tr>
                    <tr class="Productos2">
                        <td class="P6"><img src="../Imagenes/RepuestosdeMotocicleta/Llantas.jpg" alt="Neumaticos" width="1200" height="768"><br><a><b>Llantas / Cauchos</b></a></td>
                        <td class="P7"><img src="../Imagenes/RepuestosdeMotocicleta/Lubricante.jpg" alt="Lubricantes" width="894" height="894"><br><a><b>Lubricante de Cadenas</b></a></td>
                        <td class="P8"><img src="../Imagenes/RepuestosdeMotocicleta/LucesCruce.jpg" alt="Cruce" width="1000" height="1000"><br><a><b>Luces de Cruces Traseras</b></a></td>
                        <td class="P9"><img src="../Imagenes/RepuestosdeMotocicleta/LucesUniversal.jpg" alt="Luces" width="1001" height="1001"><br><a><b>Foco Universal</b></a></td>
                        <td class="P10"><img src="../Imagenes/RepuestosdeMotocicleta/ManillaFreno.jpg" alt="Manillas" width="1600" height="1600"><br><a><b>Manilla de Freno Delantero</b></a></td>
                    </tr>
                    <tr class="Productos3">
                        <td class="P11"><img src="../Imagenes/RepuestosdeMotocicleta/PalancaCambios.jpg" alt="Palancas" width="240" height="200"><br><a><b>Palanca / Pedal de Cambios</b></a></td>
                        <td class="P12"><img src="../Imagenes/RepuestosdeMotocicleta/pastillasfreno.jpg" alt="Pastillas" width="1000" height="666"><br><a><b>Pastillas de Frenos</b></a></td>
                        <td class="P13"><img src="../Imagenes/RepuestosdeMotocicleta/Proteccion.jpeg" alt="Proteccion" width="1000" height="1000"><br><a><b>Kit de Proctección</b></a></td>
                        <td class="P14"><img src="../Imagenes/RepuestosdeMotocicleta/Suspensiones.jpg" alt="Suspensiones" width="894" height="619"><br><a><b>Suspensiones</b></a></td>
                        <td class="P15"><img src="../Imagenes/RepuestosdeMotocicleta/Tanques.jpg" alt="Tanques" width="1601" height="1601"><br><a><b>Tanques de Combustible</b></a></td>
                    </tr>
                </tbody>
            </Table>
        </section>
    </main>
    <footer>
        <p class="descuento">REGISTRATE Y OBTENDRAS DESCUENTAZOS QUE NO PUEDES PERDER</p>
        <div class="info">
            <p>Telefono de Contacto:<br> +34 65457767</p> 
            <p>Email:<br> infopedido@gmail.com</p>
            <p>Dirección:<br>Madrid, España</p>
        </div>
        <div class="RRSS">
            <a target="_blank" href="https://web.whatsapp.com/"><img src="../Imagenes/Whatsapp.png" alt="Whatsapp" width="509" height="512"></a>
            <a target="_blank" href="https://www.facebook.com/?locale=es_ES"><img src="../Imagenes/Facebook.png" alt="Facebook" width="512" height="512"></a>
            <a target="_blank" href="https://www.instagram.com/"><img src="../Imagenes/Instagram.png" alt="Instagram" width="512" height="512"></a>
            <a target="_blank" href="https://x.com/?lang=es"><img src="../Imagenes/twitter.png" alt="twitter" width="512" height="512"></a>
            <a target="_blank" href="https://www.tiktok.com/es/"><img src="../Imagenes/Tiktok.png" alt="Tiktok" width="452" height="512"></a>
        </div>
        <hr>
            <cite>Creado por Miguel Arevalo / Todos los derechos reservado</cite>
        <hr>
    </footer>
</body>
</html>